{
  "env": {
    // "browser": true,
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-var": "error",
    "arrow-parens": "error",
    "camelcase": "WARN",
    "space-before-blocks": ["WARN", "always"],
    "no-trailing-spaces": "WARN",
    "semi": ["ERROR", "always"],
    "quotes": ["ERROR", "single"],
    "arrow-body-style": ["ERROR", "always"]
  }
}
